# docker-compose.yml
version: '3.8'

services:
  backend:
    build: ./backend
    container_name: tp2-backend
    environment:
      - NODE_ENV=production
      - PORT=3000
      - LOG_LEVEL=info
      # En docker, l'export OTLP va vers Jaeger
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318/v1/traces
    ports:
      - "3000:3000"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3001:3000"
    depends_on:
      - prometheus

  jaeger:
    image: jaegertracing/all-in-one:1.57
    container_name: jaeger
    ports:
      - "16686:16686"   # UI Jaeger
      - "4318:4318"     # OTLP HTTP pour les traces
